:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --orange-color: #ec860e;
  --yellow-color: #ffd900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.container-dashboard {
  max-width: 90%;
}

.container-profile {
  margin-left: 10px;
  margin-bottom: 10px;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.alert {
  position: relative;
  top: 2.7rem;
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./assets/background1.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='textarea'] {}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.dashboard-box {
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}

.box-primary {
  background-color: var(--orange-color);
}

.box-secondary {
  background-color: var(--success-color);
}

.box-third {
  background-color: var(--yellow-color);
}

.box-post {
  background-color: white;
  border: #ccc solid 1px;
}

.p-dashboard {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.dashboard-button {
  border: none;
  padding: 10px 24px;
  border-radius: 5px;
  width: 100%;
}

.profile-btn {
  width: 20%;
}

.task-btn {
  position: relative;
  right: -60%;
  width: 20%;
}

.dashboard-button:hover {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  filter: brightness(85%);
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.2rem 1.2rem;
}

.logged-user {
  margin-right: 5px;
  font-weight: 600;
  font-size: 1.2rem;
}

.icon {
  display: inline-block;
  margin-left: 73%;
}

.profile-icon {
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 5px;
  padding: 0;
  font-weight: 600;
}

h2 {
  text-align: center;
}

.loader {
  position: absolute;
  top: 25%;
  left: 50%;
}

.back-icon {
  position: absolute;
  right: 88%;
}